<h1>Administration</h1>

<div id="connexion">
  {{#ifCond erreur '=' 0}}
  <div class="erreur">
    <p>Votre login ou mot de passe est erroné</p>
  </div>
  {{/ifCond}}

  <form method="post" target="#">
    <label>Login : </label><input type="text" placeholder="Identifiant" name="login">
    <label>Mot de passe : </label><input type="password" name="mdp">
    <input type="reset" value="Annuler">
    <input type="submit" value="Connexion">
  </form>
</div>
