<table class="tabpayscir" id="table_accueil">
  <th><td>DERNIERS RÉSULTATS</td></th>
  <tr><td><b>{{majGP.gpnom}} du {{formatDate majGP.gpdate 'DD/MM/YYYY'}}</b></td></tr>
  <tr><td>Mise à jour le : {{formatDate majGP.gpdatemaj 'DD/MM/YYYY'}}</td></tr>
  <tr><td><a href="/resultats/{{majGP.gpnum}}">Voir les résultats</a></td></tr>
 </table>
 <br class="myboth" />
