<h1>Liste des circuits enregistrés</h1>

<table class="tabpayscir">
	 {{#each listeCircuits}}
		<tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" width="32px" height="32px">
      <a href="/circuits/detailsCircuit/{{this.cirnum}}"> {{this.cirnom}}</a>
    </td></tr>
 {{/each}}
</table>

{{#if details}}
<div id="details" style="margin: auto">
  <img src="/image/circuit/{{details.ciradresseimage}}" alt="Photo du circuit"> <!--width="150px" height="150px">-->
  <div id="carac">
    <p><b>Nom :</b> {{details.cirnom}}</p>
    <p><b>Longueur :</b> {{details.cirlongueur}} m</p>
    <p><b>Nombre de spectateurs :</b> {{details.cirnbspectateurs}}</p>
    <p><b>Pays :</b> {{details.paynom}}</p>
  </div>
</div>

<br class="myboth" />

<p>{{details.cirtext}}</p>

{{/if}}
<br class="myboth" />
