<table class="tabpayscir">
	 {{#each listeGP}}
		<tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" width="32px" height="32px">
      <a href="/resultats/detailsGP/{{this.gpnum}}"> {{this.gpnom}}</a>
    </td></tr>
 {{/each}}
</table>

{{#if details}}
<p><b>{{details.gpnom}} ({{formatDate details.gpdate 'DD/MM/YYYY'}})</b></p>

<table id="resultats">
  <tr>
    <th>Place</th>
    <th>Pilote</th>
    <th>Temps</th>
    <th>Nb points</th>
  </tr>
  {{#each resultats}}
  <tr>
    <td>{{inc @index}}</td>
    <td>{{this.pilnom}} {{this.pilprenom}}</td>
    <td>{{this.tempscourse}}</td>
    <td>{{this.pilpoints}}</td>
  </tr>
  {{/each}}
</table>

<p>{{details.gpcommentaire}}</p>
{{/if}}

<br class="myboth" />
