<table class="tabpayscir">
	 {{#each listeEcuries}}
		<tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" />
      <a href="/ecuries/detailsEcurie/{{this.ecunum}}"> {{this.ecunom}}</a>
    </td></tr>
 {{/each}}
</table>

{{#if details}}
<div id="details" style="margin: auto; margin-bottom: 100px">
  <img src="/image/ecurie/{{details.ecuadresseimage}}" alt="Logo de l'écurie" width="200px" height="200px">
  <div id="carac">
    <p><b>Nom :</b> {{details.ecunom}}</p>
    <p><b>Directeur :</b> {{details.ecunomdir}}</p>
    <p><b>Adresse :</b> {{details.ecuadrsiege}}</p>
    <p><b>Pays :</b> {{details.paynom}}</p>
		<p><b>Fournisseur de pneumatiques :</b> {{details.fpnom}}</p>
  </div>
</div>

{{#if sponsors}}
<div id="sponsors">
  <p><b>Principaux sponsors :</b></p>
  {{#each sponsors}}
  <b>{{this.sponom}}</b> ({{this.sposectactivite}}) <br>
  {{/each}}
</div>
{{/if}}

{{#if pilotes}}
<p><b>Pilotes :</b></p>

{{#each pilotes}}
<p>{{this.pilprenom}} {{this.pilnom}}</p>
{{/each}}

{{#if voitures}}
<div id="voitures">
	{{#each voitures}}
	<div class="detailsVoiture" style="display: inline-block">
		<img src="/image/ecurie/voiture/{{this.voiadresseimage}}" alt="{{this.voinom}}" width="150px" height="150px">
		<p>{{this.voinom}}</p>
		<p>{{this.typelibelle}}</p>
	</div>
	{{/each}}
</div>
{{/if}}

{{else}}
<p>Cette écurie ne participe pas au championnat cette année.</p>
{{/if}}

{{/if}}
<br class="myboth" />
