
<h1 style="text-align: center"> Cliquez sur une lettre :</h1>
<div id="initiales" style="text-align: center">{{#each listeInitiales}}
  <a href="/repertoirePilotes/{{this.init}}">{{this.init}}</a>
{{/each}}
</div>

{{#if pilotes}}
<div id="pilotes" style="margin: auto">
{{#each pilotes}}
  <div class="pilote" style="display: inline-block">
    <a href="/repertoirePilotes/detailsPilote/{{this.numero}}"><img src="/image/pilote/{{this.phoadresse}}" alt="{{this.pilnom}}" width="150px" height="150px"></a>
    <a href="/repertoirePilotes/detailsPilote/{{this.numero}}"><p>{{this.pilprenom}} {{this.pilnom}}</p></a>
  </div>
{{/each}}
</div>
{{/if}}

{{#if details}}
<div id="details" style="margin: auto">
  <img src="/image/pilote/{{photoPrincipale.phoadresse}}" alt="Photo de profil" width="150px" height="150px">
  <div id="carac">
    <p><b>Nom :</b> {{details.pilnom}} {{details.pilprenom}}</p>
    <p><b>Date de naissance :</b> {{formatDate details.pildatenais 'DD/MM/YYYY'}}</p>
    <p><b>Poids :</b> {{details.pilpoids}} Kg</p>
    <p><b>Nationalité :</b> {{details.paynat}}</p>
    <p><b>Taille :</b> {{details.piltaille}} cm</p>
    <p><b>Écurie :</b> {{#if details.ecunom}}
      {{details.ecunom}}
    {{else}}
      Pas d'écurie cette année
    {{/if}}
    </p>
  </div>
</div>

<br style="clear: both">

{{#if sponsors}}
<div id="sponsors">
  <p><b>Principaux sponsors :</b></p>
  {{#each sponsors}}
  <b>{{this.sponom}}</b> ({{this.sposectactivite}}) <br>
  {{/each}}
</div>
{{/if}}

<p><b>Qui suis je ? :</b> {{details.piltexte}}</p>

{{#if photos}}
  {{#each photos}}
  <div class="photos" style="display: inline-block; text-align: center; width: 100%">
    <img src="/image/pilote/{{this.phoadresse}}" alt="{{this.phosujet}}" width="450px" height="auto">
    <p><b>{{this.phosujet}}</b></p>
    <p>{{this.phocommentaire}}<p>
  </div>
  {{/each}}
{{/if}}
{{/if}}
